<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="/images/android-chrome-192x192.png" type="image/png">
  <title>Orbotio - Make the world a tastier place!</title>
  <link rel="stylesheet" href="/styles/shared.css" />
</head>

<body>
  <header>
    <section id="title">
      <h1>
        <a href="/"> Orbotio</a>
      </h1>
    </section>
    <section id="nav-bar">
      <nav>
        <ul>
          <li>
            <a href="/restaurants"> Browse Restaurants </a>
          </li>
          <li>
            <a href="/recommend"> Share Restaurants </a>
          </li>
          <li>
            <a href="/about"> About Orbot </a>
          </li>
        </ul>
      </nav>
    </section>
  </header>
  <main>

      <article id="heading-article">
          <h1 id="heading"> Make the world a tastier place!</h1>
        </article>
  <article id="description">
    <p>

        Eatwell is a website for food enthusiasts that allows you to share and discover amazing restaurants from all over the world! 
    </p>
    <div>
        <p>You don't need to sign up or create any account - you can simply start sharing right away! </p>
    </div>
  </article>
</main>
</body>
</html>