<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="/images/android-chrome-192x192.png" type="image/png">
  <link rel="stylesheet" href="/styles/shared.css" />
  <title>Orbotio - Make the world a tastier place!</title>
</head>

<body>
  <header>
    <section id="title">
      <h1>
        <a href="/"> Orbotio</a>
      </h1>
    </section>
    <section id="nav-bar">
      <nav>
        <ul>
          <li>
            <a href="/"> Browse Restaurants </a>
          </li>
          <li>
            <a href=/""> Share Restaurants </a>
          </li>
          <li>
            <a href="/"> About Orbot </a>
          </li>
        </ul>
      </nav>
    </section>
  </header>
  <article id="heading-article">
    <h1 id="heading"> Make the world a tastier place!</h1>
  </article>
  <article id="description">
    <p>

      Share your favorite restaurants or find recommendations of other users!
    </p>
  </article>
  <article id="container">
    <ul>
      <li><a href="/">Browse Shared Restaurants</a></li>
      <li><a href="/">Share your favourite restaurant</a></li>
    </ul>
  </article>
</body>
</html>