<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/images/android-chrome-192x192.png"
      type="image/png"
    />
    <title>Orbotio - Browsed Restaurants</title>
    <link rel="stylesheet" href="/styles/shared.css" />
    <link rel="stylesheet" href="/styles/restaurants.css" />
  </head>
  <body>
    <header>
        <section id="title">
          <h1>
            <a href="/"> Orbotio</a>
          </h1>
        </section>
        <section id="nav-bar">
          <nav>
            <ul>
              <li>
                <a href="/restaurants"> Browse Restaurants </a>
              </li>
              <li>
                <a href="/recommend"> Share Restaurants </a>
              </li>
              <li>
                <a href="/about"> About Orbot </a>
              </li>
            </ul>
          </nav>
        </section>
      </header>
      <main>

          <article id="heading-article">
              <h1 id="heading"> Recommended Restaurants</h1>
      </article>
      <article id="description">
        <p>
            Find your next favorite restaurants with help of our other users!
        </p>
      </article>
      <article id="container">
        <ul>
            <li class="restaurant-item">
                <article>
                    <h2 id="restaurant-title">Restaurant Title</h2>
                    <div class="restaurant-meta">

                        <p id="restaurant-cuisine">Cuisisne</p>
                        <p id="restaurant-address">Address</p>
                    </div>
                    <p>A short description of restaurant!</p>
                </article>
                <div class="restaurant-actions">
                    <a href="/">View Details</a>
                </div>
            </li>
        </ul>
        
      </article>
    </main>
  </body>
</html>
