@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,400;1,700&family=Roboto+Slab:wght@400;700;900&display=swap");
html {
  font-size: 10px;
}
* {
  box-sizing: border-box;
}
body {
  background-color: rgb(250, 237, 208);
  font-family: "Roboto Slab", "Roboto", sans-serif;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

section#title h1 a {
  background-color: rgb(240, 167, 9);
  border-radius: 50%;
  color: whitesmoke;
  text-decoration: none;
  padding: 1.6rem 3rem;
  font-size: 3.2rem;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
}

/* Navbar */
section#nav-bar nav ul {
  list-style: none;
  font-size: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto Slab";
}

section#nav-bar nav ul li a {
  padding: 0.4rem 1.2rem;
  margin: 0 2rem;
  color: rgb(139, 100, 8);
  text-decoration: none;
  border-radius: 0.4rem;
}
section#nav-bar nav ul li a:hover {
  background-color: rgb(245, 222, 173);
}

/* Article - Heading*/
article {
  margin: 4rem;
}

/* Heading */
h1#heading {
  color: rgb(202, 158, 62);
  font-size: 4rem;
  text-align: center;
  padding: 2rem;
}

/* Paragraph */

article#description p {
  color: rgb(95, 83, 58);
  font-size: 2.5rem;
  text-align: center;
}

article#container ul {
  font-size: 2rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

article#container ul li a {
  color: rgb(218, 205, 183);
  padding: 5rem 3rem;
  margin: 3rem;
  line-height: 10rem;
  text-decoration: none;
  height: 100%;
  width: 100%;
  background-color: rgb(48, 42, 31);
  border-radius: 1rem;
}

article#container ul li a:hover {
  background-color: rgb(100, 81, 43);
}
